<!DOCTYPE html>
<html>
<head>
    <title><%= exception.class %> at <%= request_path %></title>
    <style>
    * {
        margin:0;
        padding:0;
    }
    body {
        font-family:Verdana, sans-serif;
        margin:0;
        font-size:13px;
    }
    header {
        padding:32px 32px;
        border-bottom:1px solid #e64c38;
        background-color: #ffe5e7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe5e7), to(#ffb2b8)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #ffe5e7, #ffb2b8); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #ffe5e7, #ffb2b8); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #ffe5e7, #ffb2b8); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #ffe5e7, #ffb2b8); /* Firefox 16+, IE10, Opera 12.50+ */
    }
    h2 {
        font-weight:normal;
        margin:0;
        margin-bottom:16px;
    }
    h2 span {
        color:#666666;
    }
    header table {
        border-collapse:collapse;
    }
    header table th {
        text-align:right;
        font-weight:bold;
        padding-right:12px;
    }
    header table th, header table td {
        padding:4px 6px;
    }
    nav {
        display:block;
        padding:12px 12px;
        border-bottom:1px solid #000000;
        background-color: #444444;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #444444, #222222); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #444444, #222222); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #444444, #222222); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #444444, #222222); /* Firefox 16+, IE10, Opera 12.50+ */
    }
    nav a {
        color:#ffffff;
        text-decoration:none;
        padding:4px 16px;
        border-radius:16px;
    }
    nav a:hover {
        background-color: #666666;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#444444)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #666666, #444444); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #666666, #444444); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #666666, #444444); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #666666, #444444); /* Firefox 16+, IE10, Opera 12.50+ */
    }
    nav a.selected {
        color:#000000;
        background-color: #efefef;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cfcfcf)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #efefef, #cfcfcf); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #efefef, #cfcfcf); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #efefef, #cfcfcf); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #efefef, #cfcfcf); /* Firefox 16+, IE10, Opera 12.50+ */
    }
    .frames {
        width:50%;
        float:left;
    }
    .frames li {
        list-style:none;
        display:block;
        padding:12px;
        overflow:hidden;
        cursor:pointer;
        background-color: #f4f7ff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f7ff), to(#e4ebfe)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #f4f7ff, #e4ebfe); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #f4f7ff, #e4ebfe); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #f4f7ff, #e4ebfe); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #f4f7ff, #e4ebfe); /* Firefox 16+, IE10, Opera 12.50+ */
        border-bottom:1px solid #cccccc;
    }
    .frames li:hover, .frames li.selected {
        background-color: #e4ebfe;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e4ebfe), to(#c2d3fe)); /* Safari 4+, Chrome */
        background-image: -webkit-linear-gradient(top, #e4ebfe, #c2d3fe); /* Chrome 10+, Safari 5.1+, iOS 5+ */
        background-image:    -moz-linear-gradient(top, #e4ebfe, #c2d3fe); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #e4ebfe, #c2d3fe); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #e4ebfe, #c2d3fe); /* Firefox 16+, IE10, Opera 12.50+ */
    }
    .frames .name, .frame_info h2.name {
        font-family:Monaco, Incosolata, Consolas, monospace;
        font-size:14px;
        margin-bottom:4px;
        word-wrap:break-word;
    }
    .location {
        color:#888888;
    }
    .location .filename, .location .line {
        color:#333333;
    }
    .frame_info {
        background-color:#efefef;
        border-bottom:1px solid #cccccc;
        float:left;
        width:50%;
    }
    .frame_info > * {
        margin:16px;
    }
    .frame_info h2 {
        font-family:Monaco, Incosolata, Consolas, monospace;
    }
    .frame_info .code {
        font-family:Monaco, Incosolata, Consolas, monospace;
        background-color:#ffffff;
        border:1px solid #cccccc;
        border-collapse:collapse;
        overflow:auto;
    }
    .frame_info .code pre:nth-child(2n+1) {
        background-color:#f9f9f9;
    }
    .frame_info .code pre:nth-child(2n) {
        background-color:#f3f3f3;
    }
    .frame_info .code pre.highlight {
        background-color:#ffeaaa;
    }
    .frame_info .code .line {
        text-align:right;
        padding-right:12px;
        padding-left:0px;
    }
    code {
        background-color:#f0f0f0;
        padding:2px 4px;
        border:1px solid #d0d0d0;
    }
    h3 {
        font-weight:normal;
        border-top:1px solid #cccccc;
        padding-top:16px;
        margin-bottom:16px;
    }
    .var_table {
        border-collapse:collapse;
    }
    .var_table td {
        padding:8px;
    }
    .var_table td.name {
        font-style:italic;
    }
    .var_table tr {
        border-bottom:1px solid #cccccc;
    }
    .repl .console {
        background-color:#ffffff;
        padding:2px 4px;
        border:1px solid #d0d0d0;
        margin-bottom:8px;
        font-family:monospace;
    }
    .repl pre {
        font-size:12px;
        white-space:pre-wrap;
        max-height:400px;
        overflow:auto;
    }
    .repl .prompt {
        font-size:12px;
        position:relative;
    }
    .repl input {
        font-size:12px;
        border:none;
        font-family:monospace;
        outline:none;
        padding:0px;
        position:absolute;
        left:20px;
        right:0px;
    }
    </style>
</head>
<body>
    <header>
        <h2><%= exception.class %> <span>at <%= request_path %></span></h2>
        <table>
            <tr>
                <th>Message</th>
                <td><%= exception_message %></td>
            </tr>
            <% if backtrace_frames.any? %>
                <tr>
                    <th>File</th>
                    <td><%= backtrace_frames.first.filename %></td>
                </tr>
                <tr>
                    <th>Line</th>
                    <td><%= backtrace_frames.first.line %></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a href="<%= backtrace_frames.first.sublime_path %>">
                            Open in Sublime Text 2
                        </a>
                    </td>
                </tr>
            <% end %>
        </table>
    </header>
    <nav>
        <a href="#" id="application_frames">Application Frames</a>
        <a href="#" id="all_frames">All Frames</a>
    </nav>
    <section class="backtrace">
        <ul class="frames">
            <% backtrace_frames.each_with_index do |frame, index| %>
                <li
                    data-context="<%= frame.context %>"
                    data-full-filename="<%= frame.filename %>"
                    data-filename="<%= frame.pretty_path %>"
                    data-line="<%= frame.line %>"
                    data-name="<%= frame.name %>"
                    data-index="<%= index %>"
                >
                    <div class="name"><%= frame.name %></div>
                    <div class="location"><span class="filename"><%= frame.pretty_path %></span>, line <span class="line"><%= frame.line %></span></div>
                </li>
            <% end %>
        </ul>
        <% backtrace_frames.each_with_index do |frame, index| %>
            <div class="frame_info" id="frame_info_<%= index %>" style="display:none;">
                <h2 class="name"><%= frame.name %></h2>
                <div class="location"><span class="filename"><%= frame.pretty_path %></span>, line <span class="line"><%= frame.line %></span></div>
                <%== highlighted_code_block frame %>
                
                <% if BetterErrors.binding_of_caller_available? %>
                    <% if frame.frame_binding %>
                        <div class="repl">
                            <h3>REPL</h3>
                            <div class="console">
                                <pre></pre>
                                <div class="prompt"><span>&gt;&gt;</span> <input/></div>
                            </div>
                        </div>
                        
                        <div class="variable_info"></div>
                    <% end %>
                <% else %>
                    <h3>Advanced features unavailable</h3>
                    <p class="error">
                        You must add <code>gem "binding_of_caller"</code> to your Gemfile to enable the REPL and local/instance variable inspection.
                    </p>
                <% end %>
            </div>
        <% end %>
        <div style="clear:both"></div>
    </section>
</body>
<script>
(function() {
    var OID = <%== object_id.to_s.inspect %>;
    
    var previousFrame = null;
    var previousFrameInfo = null;
    var allFrames = document.querySelectorAll("ul.frames li");
    var allFrameInfos = document.querySelectorAll(".frame_info");

    function apiCall(method, opts, cb) {
        var req = new XMLHttpRequest();
        req.open("POST", "/__better_errors/" + OID + "/" + method, true);
        req.setRequestHeader("Content-Type", "application/json");
        req.send(JSON.stringify(opts));
        req.onreadystatechange = function() {
            if(req.readyState == 4) {
                var res = JSON.parse(req.responseText);
                cb(res);
            }
        };
    }
    
    function escapeHTML(html) {
        return html.replace(/&/, "&amp;").replace(/</g, "&lt;");
    }
    
    function REPL(index) {
        this.index = index;
        
        this.previousCommands = [];
        this.previousCommandOffset = 0;
    }
    
    REPL.all = [];
    
    REPL.prototype.install = function(containerElement) {
        this.container = containerElement;
    
        this.promptElement  = this.container.querySelector(".prompt span");
        this.inputElement   = this.container.querySelector("input");
        this.outputElement  = this.container.querySelector("pre");
    
        this.inputElement.onkeydown = this.onKeyDown.bind(this);
    
        this.setPrompt(">>");
        
        REPL.all[this.index] = this;
    }
    
    REPL.prototype.focus = function() {
        this.inputElement.focus();
    };
    
    REPL.prototype.setPrompt = function(prompt) {
        this._prompt = prompt;
        this.promptElement.innerHTML = escapeHTML(prompt);
    };
    
    REPL.prototype.getInput = function() {
        return this.inputElement.value;
    };
    
    REPL.prototype.setInput = function(text) {
        this.inputElement.value = text;
        
        if(this.inputElement.setSelectionRange) {
            // set cursor to end of input
            this.inputElement.setSelectionRange(text.length, text.length);
        }
    };
    
    REPL.prototype.writeRawOutput = function(output) {
        this.outputElement.innerHTML += output;
        this.outputElement.scrollTop = this.outputElement.scrollHeight;
    };
    
    REPL.prototype.writeOutput = function(output) {
        this.writeRawOutput(escapeHTML(output));
    };
    
    REPL.prototype.sendInput = function(line) {
        var self = this;
        apiCall("eval", { "index": this.index, source: line }, function(response) {
            if(response.error) {
                self.writeOutput(response.error + "\n");
            }
            self.writeOutput(self._prompt + " ");
            self.writeRawOutput(response.highlighted_input + "\n");
            self.writeOutput(response.result);
            self.setPrompt(response.prompt);
        });
    };
    
    REPL.prototype.onEnterKey = function() {
        var text = this.getInput();
        if(text != "" && text !== undefined) {
            this.previousCommandOffset = this.previousCommands.push(text);
        }
        this.setInput("");
        this.sendInput(text);
    };
    
    REPL.prototype.onNavigateHistory = function(direction) {
        this.previousCommandOffset += direction;
        
        if(this.previousCommandOffset < 0) {
            this.previousCommandOffset = -1;
            this.setInput("");
            return;
        }
        
        if(this.previousCommandOffset >= this.previousCommands.length) {
            this.previousCommandOffset = this.previousCommands.length;
            this.setInput("");
            return;
        }
        
        this.setInput(this.previousCommands[this.previousCommandOffset]);
    };
    
    REPL.prototype.onKeyDown = function(ev) {
        if(ev.keyCode == 13) {
            this.onEnterKey();
        } else if(ev.keyCode == 38) {
            // the user pressed the up arrow.
            this.onNavigateHistory(-1);
            return false;
        } else if(ev.keyCode == 40) {
            // the user pressed the down arrow.
            this.onNavigateHistory(1);
            return false;
        }
    };
    
    function populateVariableInfo(index) {
        var el = allFrameInfos[index];
        var varInfo = el.querySelector(".variable_info");
        if(varInfo && varInfo.innerHTML == "") {
            apiCall("variables", { "index": index }, function(response) {
                if(response.error) {
                    varInfo.innerHTML = "<span class='error'>" + escapeHTML(response.error) + "</span>";
                } else {
                    varInfo.innerHTML = response.html;
                }
            });
        }
    }
    
    function selectFrameInfo(index) {
        populateVariableInfo(index);
        
        if(previousFrameInfo) {
            previousFrameInfo.style.display = "none";
        }
        previousFrameInfo = allFrameInfos[index];
        previousFrameInfo.style.display = "block";
        
        if(REPL.all[index]) {
            REPL.all[index].focus();
        }
    }
    
    for(var i = 0; i < allFrames.length; i++) {
        (function(i, el) {
            var el = allFrames[i];
            el.onclick = function() {
                if(previousFrame) {
                    previousFrame.className = "";
                }
                el.className = "selected";
                previousFrame = el;
                
                selectFrameInfo(el.attributes["data-index"].value);
            };
            var repl = allFrameInfos[i].querySelector(".repl .console");
            if(repl) {
                new REPL(i).install(repl);
            }
        })(i);
    }
    
    allFrames[0].click();
    
    var applicationFramesButton = document.getElementById("application_frames");
    var allFramesButton = document.getElementById("all_frames");
    
    applicationFramesButton.onclick = function() {
        allFramesButton.className = "";
        applicationFramesButton.className = "selected";
        for(var i = 0; i < allFrames.length; i++) {
            if(allFrames[i].attributes["data-context"].value == "application") {
                allFrames[i].style.display = "block";
            } else {
                allFrames[i].style.display = "none";
            }
        }
        return false;
    };
    
    allFramesButton.onclick = function() {
        applicationFramesButton.className = "";
        allFramesButton.className = "selected";
        for(var i = 0; i < allFrames.length; i++) {
            allFrames[i].style.display = "block";
        }
        return false;
    };
    
    applicationFramesButton.click();
})();
</script>
</html>
<!-- generated by Better Errors in <%= Time.now.to_f - @start_time %> seconds -->
