<header class="trace_info clearfix">
    <h2 class="title">
        <div class="name">#<%= @frame.name %></div>
        <div class="location"><span class="filename"><a href="<%= editor_url(@frame) %>"><%= @frame.pretty_path %></a></span></div>
    </h2>
    <div class="code_block clearfix">
        <%== html_formatted_code_block @frame %>
    </div>
</header>

<% if BetterErrors.binding_of_caller_available? && @frame.frame_binding %>
    <div class="be-repl">
        <h3>Console</h3>
        <div class="be-console">
            <div class="output"></div>
            <div class="command-line"><span class='prompt'>&gt;</span> <input tabindex="1"/></div>
        </div>
    </div>
<% end %>

<% unless BetterErrors.binding_of_caller_available? %>
    <div class="hint">
        <strong>Tip:</strong> add <code>gem "binding_of_caller"</code> to your Gemfile to enable the REPL and local/instance variable inspection.
    </div>
<% end %>

<div class="variables">
    <h3>Request Info</h3>
    <% if rails_params %>
        <h4 class="name">Request Parameters</h4>
        <pre><%== inspect_value rails_params %></pre>
    <% end %>
    <% if rack_session %>
        <h4 class="name">Rack Session</h4>
        <pre><%== inspect_value rack_session %></pre>
    <% end %>

<% if BetterErrors.binding_of_caller_available? && @frame.frame_binding %>
    <h3>Local Variables</h3>
    <% @frame.local_variables.sort_by(&:first).each do |name, value| %>
        <h4 class="name"><%= name %></h4>
        <pre><%== inspect_value value %></pre>
    <% end %>

    <h3>Instance Variables (<%= @frame.class_name %>)</h3>
    <% @frame.instance_variables.sort_by(&:first).each do |name, value| %>
        <h4 class="name"><%= name %></h4>
        <pre><%== inspect_value value %></pre>
    <% end %>

    <!-- <%= Time.now.to_f - @var_start_time %> seconds -->
<% end %>
